
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
book_chunks.txt
.pytest_cache
storage/
my_config.toml
my_marker_config.toml
.DS_store
requirement.txt
.vscode/
human_marks/
log/
mark_logs/
processed_submissions/
raw_submissions/
reference_materials/